body {
  background-color: brown;
}
.header {
  background-color: brown;
  display: flex;
  justify-content: center;
  height: 80px;
  color: #eee;
  font-size: 60px;
}

.container {
  display: flex;
  justify-content: center;
}

.buttons {
  width: 800px;
  height: 500px;
  text-align: center;
}

.btn-container {
  margin-top: 200px;
  margin-left: 250px;
}

button {
  display: block;
  margin-bottom: 10px;

  width: 100px;
  height: 50px;

  border-radius: 2rem;
  margin-left: 25%;
  margin-top: 0%;
}

.grid-item {
  width: 55px;
  height: 29px;
  background-color: #eee;
  border: 1px solid black;
  color: #eee;
}

.sketchpad {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  max-width: 1500px;
  border: 1px solid #000;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slidecontainer {
  margin-right: 50px;
  margin-bottom: 50px;
}
